####################################
# GLOBAL
####################################
.DS_Store
Thumbs.db

####################################
# Python / FastAPI
####################################
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env
.env.*

# SQLite database
*.db
*.sqlite3

# Logs
*.log

####################################
# Node / React / Vite
####################################
node_modules/
dist/
build/

# Vite cache
.vite/

####################################
# IDE / Editors
####################################
.vscode/
.idea/
*.swp

####################################
# OS
####################################
.cache/
